<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENTO COMPARTIDO</title>
    <style>
        table{font-size: 4;}
        table td tr{padding: 3px;}
        p{text-align: center;}
    </style>
</head>
<body>
    
    <table style="max-width: 60%; margin: auto; margin-top: 100px; font-size: 5;">
        <thead>
            
        </thead>
        <tbody>
            <tr>
                <td>
                    Documento : <strong>{{documento.Titulo}}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://127.0.0.1:8000/media/{{documento.Archivo}} " download="{{documento.Archivo}}">Descargar</a>
                </td>
            </tr>
        </tbody>
        <tr>
            <td colspan="3" style="font-size: 4;">
                Potosí {{date_today|date}}
            </td>
        </tr>
    </table>
</body>
</html>
