<h5 colspan="4" align="center"><strong>COMENTARIOS REALIZADOS PARA ESTE DOCUMENTO</strong></h5>
		<table class="display dataTable table table-hover table-responsive table-sm size-text" id="table-ingresos">
			<thead  class="success">
				<th style="width: 3%;">Nro</th>
				<th>USUARIO</th>
				<th>DESCRIPCIÓN</th>
				<th>FECHA DE REGISTRO</th>
				
				<th></th>
			</thead>
			<tbody>
				{% for i in object_list %}
					{% if i.estado %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{i.Usuario.get_full_name|title}}</td>
						<td>{{i.Descripcion}}</td>
						<td>{{i.Fecha_creacion|date:"l d M Y"}}</td>
						
						
						{% if  i.Usuario.id == request.user.id %}
							<td>
								<button href="#" class="btn btn-success btn-sm" onclick="getUrl('edit-coment/{{i.id}}','Editar Comentorio');" title="Opciones" data-toggle="modal" data-target="#staticBackdrop">Editar</button>
								<button href="#" class="btn btn-danger btn-sm" onclick="getUrl('delete-coment/{{i.id}}/{{i.documento.id}}','Eliminar Comentario');" title="Opciones" data-toggle="modal" data-target="#staticBackdrop">Eliminar</button>
							</td>
						{% else %}
							<td>

							</td>	
						{% endif %}
							
					</tr>
					{% endif %}
				{% empty %}

					<tr> <td colspan="6" align="center"><strong>No se encontró registros</strong></td> </tr>
				{% endfor %}
			</tbody>
		</table>	