<meta charset="utf-8">
<h2 
colspan="6" align="center">
    <strong>LISTA DE DOCUMENTOS REGISTRADOS EN EL SISTEMA
        {% if categoria %}
          CATEGORIA : {{categoria.Nombre_categoria|upper}}
        {% endif %}
    </strong>
</h2>

<table border="1" style="font-size: 4;" class="table table-hover table-striped table-bordered dt-responsive datatable">
    <thead  class="success">
        <th style="width: 3%;"><br>Nro</th>
        <th><br>TÍTULO</th>
        <th><br>CATEGORIA</th>
        <th><br>USUARIO</th>
        <th><br>FECHA</th>
    </thead>
    <tbody>
        {% for i in documentos %}
            {% if i.estado %}
                <tr>
                    <td align="center"><br>{{forloop.counter}}</td>
                    <td align="center"><br>{{i.Titulo}}</td>
                    <td align="center"><br>{{i.Categoria|title}}</td>
                    <td align="center"><br>{{i.Usuario.get_full_name|title}}</td>
                    <td align="center"><br>{{i.Fecha_creacion|date:"l d M Y"}}</td>
                </tr>
            {% endif %}
        {% empty %}
                <tr> <td colspan="5" align="center"><br><strong>No se encontró registros</strong></td> </tr>
        {% endfor %}
    </tbody>
</table>